@charset "utf-8";
/* CSS Document */

*{
   padding:0;
   margin:0;
}
#nav{
  width:100%;
  height:170px;
	background-color:#4B6FA3;
	/*基于Webkit内核的实现*/
	background:-webkit-gradient(linear,left top,right bottom,from(#1E68B5),to(white));
	/*基于Gecko内核的实现*/
	background:-moz-linear-gradient(top,#1E68B5,white);
}
#nav .left{
   width:50%;
}
.left img{
  width:16%;
  margin-top: 20px;
  margin-left: 13%;
}
.left span{
  font-size:40px;
  padding-left:2%;
}
#nav .left span{
  margin-top:65px;
  position:absolute;
}
.right{
  width:50%;
  float:right;
}
.right p{
  font-family:微软雅黑;
  font-size: 38px;
  margin-top: -110px;
}
#banous{
  .width:100%;
  margin:0 auto;
  height:300px;
  margin-top: 79px;
}
#banous .one{
  width:50%;
}
#banous .one img{
  width:80%;
  margin-left: 30%;
  margin-top: 40px;
  max-width: 100%;
}
#banous .two{
  width:50%;
  float:right;
}
#banous .two p{
  font-size: 30px;
}
#banous .container{
  margin-top: -200px;
}
#banous .container .row{
  margin-top: 20px;
  font-size: 20px;
}
#banous .right{
  margin-top: 20px;
}
.three{
  margin-top: -160px;
}
.four{
  margin-top: 10px;
}
#footer{
  width:100%;
  height:120px;
  background-color:#4B6FA3;
	/*基于Webkit内核的实现*/
	background:-webkit-gradient(linear,left top,right bottom,from(#1E68B5),to(white));
	/*基于Gecko内核的实现*/
	background:-moz-linear-gradient(bottom,#1E68B5,white);
}
#footer p{
  margin-left: 40%;
  padding-top:55px;
  font-size:14px;
}
#footer{
  margin-top: 30px;
  display:block;
  position:absolute;
  bottom:0px;
 }
 .two .row{
  margin-top:50px;
  width:90%;
  margin-left:5%;
}
.two .col-sm-5 ul{
  margin-top:-30px;
  height:300px;
}
.two .col-sm-5 li{
  margin-top:11px;
}
.two .col-sm-5 a{
  text-decoration: none;
}
.two .col-lg-2 li{
   margin-top:11px;
}
.two .col-lg-2 ul{
  margin-top:-30px;
  
}
.two .col-lg-2 li{
  list-style: none;
}
.two .col-lg-2 a{
  text-decoration: none;
}
.two .col-lg-2 ul{
  margin-left:-20%;
}
.two .right{
  margin-top:-14%
}
.right button{
  margin-top: 25px;
}
.input-group  select{
  height:40px;
}
.input-one .input-lg{
  font-size:15px;
}
.input-one{
  margin-top:9%;
} 

.input-two{
  margin-top:7.5%
}
.input-three{
  margin-top:7.5%;
}
.input-three img{
  height:20px;
}




