@charset "utf-8";
/* CSS Document */
*{
  padding:0;
  margin:0;
}
.container.row{
  width: 100%;
}
.row p{
  margin-top: 25px;
}
 a:hover{
  text-decoration: none;
  color:#FFCA00;
}
.table{
  width:70%;
  margin:0 auto;
  margin-top: 20px;
}
.form-group .row{
   width:98.5%;
}
.form-group p{
  margin-top: 40px;
}
.form-group button{
   margin-top: 35px;
}